@ttip-color: rgb(255, 255, 255);
@ttip-bg-color: rgb(38, 38, 38);

@keyframes fadeIn {
	0% { opacity: 0 }
    50% { opacity: 0.99 }
	100% { opacity: 1 }
}

@keyframes fadeOut {
	0% { opacity: 1 }
    50% { opacity: 0.99 }
	100% { opacity: 0 }
}

.ttip {
    display: none;
	font-size: 11px;
    line-height: 14px;
    padding: 5px;
	background: @ttip-bg-color;
    color: @ttip-color;
}

.ttip-host {
	position: fixed;
    display: inline-block;
	transition: opacity 0.3s ease-in-out;
    animation-name: fadeOut;
	opacity: 0;
	top: -9999px;
    left: -9999px;
    z-index: 9999;
    .ttip{
		display: inline-block;
	}
}

.ttip-host.ttip-active {
    animation-name: fadeIn;
	opacity: 1;
    visibility: visible;
}
